/*竪版中文*/
@font-face {
  font-family: 'Mingliu';
  src: url('mingliub.ttc');
}

body {
	writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
 	font-family: "MingLiu", "Source Han Serif", "Noto Serif CJK", serif;
    font-weight: 400;
    font-style: normal;
	line-height:150%;
}
.volume {
	margin-left: 0%;
	margin-right: 0%;
	text-indent: 0em;
}
.authorship {
	text-align: right;
	margin-bottom: 1em;
}
.title {
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 3em;
}
.note {
	display: inline-block;
	font-size: 50%;
	line-height:100%;
	white-space: pre-wrap;
	margin-top: 0.1em;
	margin-bottom: 0.3em;
	vertical-align: middle;
}
.poem {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 0.5em;
	margin-right: 0em;
	line-height: 130%;
}

.quotedpassage {
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-indent: 0%;
	line-height:130%;
}

.humble {
	font-size: 70%;
}

a{
text-decoration:none;
}
.temp{
	background-color: green;
	background-color: yellow;
}